@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

section{
    width: 100%;
    height: 100vh;
    background-image: url(image/bg.png);
    background-size: cover;
    background-position: center;
}

section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #a13308;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul{
    list-style: none;
}

section nav li{
    display: inline-block;
    padding: 0 10px;
}

section nav li a{
    text-decoration: none;
    color: #000;
}

section nav li a:hover{
    color: #a13308;
}

section nav .social_icon i{
    margin: 0 5px;
    font-size: 18px;
}

section nav .social_icon i:hover{
    color: #a13308;
    cursor: pointer;
}

.leftItem{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5em;
}

.Logo{
    color: #a13308;
    font-weight: 900;
    font-size: 1.6rem;
}

.nav{
    display: flex;
    align-items: center;
}

.navLink{
    margin-right: .5em;
    font-weight: 500;
    cursor: pointer;
    transition: all .5s ease-in-out;
    color: #a13308;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
    background: #a13308;
    border-radius: 10px;
}
  

.navLink:hover{
    opacity: .5;
}

.rightItem{
    position: relative;
    color: #a13308;
}

.totalItem{
    color: #a13308;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 100;
}

.itemContainer{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    margin-top: 7em;
    margin-bottom: 2em;
    display: grid;
    gap: 15px;
    column-gap: 10px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
   
}

.card{
    width: 200px;
    height: 310px;
    padding: .5em;
    background-color:#a13308;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.card:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}


.cardImg{
    width: 65%;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImg img{
    width: 100%;
}

.itemDescContainer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 1em;
}

.itemName{
    font-size: 1rem;
    margin-bottom: .3em;
}

.itemPrice{
    font-weight: 500;
}

.addtocart{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.addtocart:hover{
    background-color: #ffffff;
    color: #a13308;
}

.cart{
    margin: 0;
}

@media screen and (min-width:650px) {
    .itemContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }   
}

@media screen and (min-width:900px) {
    .itemContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }   
}

@media screen and (min-width:1100px) {
    .itemContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }   
}

.cartContainer{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    max-width: 500px;
    z-index: 1000;
    background-color: #a13308;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    transition: all .5s ease-in-out;
}

.showCartContainer{
    width: 80%;
    padding: 1em;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, .4);
}

.closeCart{
    text-align: right;
    margin-bottom: 1em;
    cursor: pointer;
    font-size: 1.1rem;
    width: 50px;
    float: right;
    border-bottom: 2px solid black;
}

#cartTitle{
    font-size: 1.5rem;
    color: #a13308;
    font-weight: 900;
}

.eachCart{
    width: 97%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 5px;
    background-color: #a13308;
    margin: .5em;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .1);
    height: 110px;
    padding: .5em;
}

.cartImg{
    width: 100%;
}

.cartItemName{
    font-size: 1rem;
}

.cartItemPrice{
    font-weight: 500;
}

.cartDesc{
    margin-left: 2em;
}

.remove{
    border: none;
    background-color: #fdfdfd;
    padding: .5em;
    font-size: .9rem;
    color: #a13308;
    font-weight: bold;
    border-radius: 5px;
    margin-top: .3em;
    cursor: pointer;
    border: 2px solid #ffffff;
    transition: all .2s ease-in-out;
}

.remove:hover{
    color: black;
    border: 2px solid #ffffff;
    background-color: transparent;
}

#totalPriceContainer{
    background-color: #a13308;
    width: 100%;
    text-align: center;
    padding: 1em;
    color: white;
    border-radius: 10px;
}

#totalPrice{
    font-weight: 900;
}


footer{
    width: 100%;
    background: #eaeaea;
}

footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag img{
    width: 100px;
    margin-bottom: 10px;
}

footer .footer_main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag i{
    margin-right: 10px;
}

footer .footer_main .tag .social_link i{
    margin: 0 5px;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgba(202,202,202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    outline: none;
    font-size: 13px;
    background: none;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: #a13308;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;
}

footer .end span{
    color: #a13308;
    margin-left: 10px;
}

.banner{
    width: 100%;
    height: 50vh;
    background-image: url(https://github.com/ashtarts/project2-html/blob/main/img/banner.png?raw=true);
    background-size: cover;
    background-position: center;
}

.banner .banner_btn{
    padding: 8px 20px;
    background: #a13308;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 70%;
    left: 7%;
}
